## **Data Types and Structures Questions**

**1.What are data structures, and why are they important?**

Data structures organize and store data efficiently.

They optimize operations like access, insertion, and deletion.

**2. Difference between mutable and immutable types with examples:**

Mutable: Can be modified (e.g., list, dict, set).

Immutable: Cannot be changed (e.g., int, str, tuple).

**3. Lists vs. Tuples:**

List: Mutable, uses [ ].

Tuple: Immutable, uses ().

**4. How dictionaries store data:**

As key-value pairs (keys must be immutable).

**5. Use a set instead of a list when:**

You need unique elements or fast membership checks.

**6. String vs. List:**

String: Immutable sequence of characters.

List: Mutable, can hold any data type.

**7. Tuples ensure data integrity because:**

They are immutable, preventing accidental changes.

**8. Hash table & dictionaries:**

Python dictionaries use hash tables for O(1) average lookups.

**9. Can lists contain different data types?**

Yes, e.g., [1, "hello", 3.14].

**10. Why strings are immutable:**

Ensures safety in hashing (e.g., for dictionary keys).

**11. Dictionaries vs. Lists:**

Dictionaries offer faster lookups by key (O(1) vs. O(n) for lists).

**12. When to use a tuple over a list:**

For fixed data (e.g., coordinates, database records).

**13. Sets and duplicates:**

Automatically remove duplicates (e.g., {1, 2, 2} becomes {1, 2}).

**14. "in" keyword in lists vs. dictionaries:**

**Lists:** Checks values (O(n) time).

**Dictionaries:** Checks keys (O(1) avg time).

**15. Can you modify tuple elements?**

No, tuples are immutable (but can contain mutable objects like lists).

**16. Nested dictionary example:**

python
employee = {"name": "Alice", "skills": {"Python": 5, "SQL": 4}}  
Used for hierarchical data (e.g., JSON-like structures).

**17. Dictionary access time complexity:**

O(1) average case (due to hashing).

**18. When to prefer lists over dictionaries:**

When order matters or you need index-based access.

**19. Dictionaries are unordered (pre-Python 3.7):**

Insertion order wasnâ€™t preserved (now it is, but still optimized for hashing).

**20. List vs. Dictionary retrieval:**

List: Access by index (O(1)).

Dictionary: Access by key (O(1) avg).

# **Practical Questions**

1. Create and print a string with your name

In [ ]:
name = "dev"
print(name)

dev

2. Find the length of "Hello World"

In [ ]:
print(len("Hello World"))

11

3. Slice first 3 characters from "Python Programming"

In [ ]:
text = "Python Programming"
print(text[:3])

4. Convert "hello" to uppercase

In [ ]:
print("hello".upper())

5. Replace "apple" with "orange" in "I like apple"

In [ ]:
text = "I like apple"
print(text.replace("apple", "orange"))

6. Create a list with numbers 1 to 5 and print it

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

7. Append 10 to the list [1, 2, 3, 4]

In [ ]:
nums = [1, 2, 3, 4]
nums.append(10)
print(nums)

8. Remove the number 3 from [1, 2, 3, 4, 5]

In [ ]:
nums = [1, 2, 3, 4, 5]
nums.remove(3)
print(nums)

9. Access the second element in ['a', 'b', 'c', 'd']

In [ ]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

10. Reverse the list [10, 20, 30, 40, 50]

In [ ]:
nums = [10, 20, 30, 40, 50]
nums.reverse()
print(nums)

11. Create a tuple with 100, 200, 300 and print it

In [ ]:
tup = (100, 200, 300)
print(tup)

12. Access the second-to-last element of ('red', 'green', 'blue', 'yellow')

In [ ]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

13. Find the minimum number in (10, 20, 5, 15)

In [ ]:
nums = (10, 20, 5, 15)
print(min(nums))

14. Find the index of "cat" in ('dog', 'cat', 'rabbit')

In [ ]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

15. Check if "kiwi" is in a fruit tuple

In [ ]:
fruits = ('apple', 'banana', 'orange')
print('kiwi' in fruits)

16. Create a set with 'a', 'b', 'c' and print it

In [ ]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

17. Clear all elements from {1, 2, 3, 4, 5}

In [ ]:
nums = {1, 2, 3, 4, 5}
nums.clear()
print(nums)

set()

18. Remove 4 from {1, 2, 3, 4}

In [ ]:
nums = {1, 2, 3, 4}
nums.remove(4)
print(nums)

19. Find the union of {1, 2, 3} and {3, 4, 5}

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

20. Find the intersection of {1, 2, 3} and {2, 3, 4}

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

21. Create a dictionary with 'name', 'age', 'city' and print it

In [ ]:
person = {'name': 'John', 'age': 25, 'city': 'New York'}
print(person)

22. Add "country": "USA" to {'name': 'John', 'age': 25}

In [ ]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

23. Access the value for key "name" in {'name': 'Alice', 'age': 30}

In [ ]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

24. Remove the key "age" from {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [ ]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Check if 'city' exists in {'name': 'Alice', 'city': 'Paris'}

In [ ]:
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

26. Create a list, tuple, and dictionary, and print all

In [ ]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

27. Create a sorted list of 5 random numbers (1-100)

In [ ]:
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)